mixin stars(app)
	iframe(src="https://ghbtns.com/github-btn.html?user="+app.user+"&repo="+app.repo+"&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px")

mixin watch(app)
	iframe(src="https://ghbtns.com/github-btn.html?user="+app.user+"&repo="+app.repo+"&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="170px" height="20px")

mixin fork(app)
	iframe(src="https://ghbtns.com/github-btn.html?user="+app.user+"&repo="+app.repo+"&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px")


mixin background-gradient-image(id, url)
	style.
		##{id} {
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.6))), url(#{url});
			background-image: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(#{url});
			background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url(#{url});
			background-repeat: no-repeat;
			background-position: top center;
			background-size: 100%;
			-o-background-size: 100%;
			-moz-background-size: 100%;
			-webkit-background-size: 100%;
			background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			-webkit-background-size: cover;
		}