extend layout

block content
  .jumbo#jumbo
    +background-gradient-image("jumbo", $$.jumbo.meta.image)
    .contain
      | !{$$.jumbo.html}

  .reddit
    .contain
      a.title(href=$$.reddit.meta.url)
        span Music
        |  Player 
        span  for 
        | Reddit
      .github
        +stars(markade.apps.redditmusicplayer)
        +watch(markade.apps.redditmusicplayer)
        +fork(markade.apps.redditmusicplayer)

      .ui.divider
      a.ui.button(href=$$.reddit.meta.url).blue.fluid= $$.reddit.meta.try