extend layout

mixin browser(url, alt)
  .browser
    .header
      .btn.close
      .btn.min
      .btn.max
    .content
      img(src=url, alt=alt)

block content
  .reddit.jumbo
    .contain
      .title
        span a free and open-source
        br
        | music player for reddit
      a.button(href=$$.reddit.meta.url)= $$.reddit.meta.text
    
    .screenshots.one
      +browser("/img/app.jpg", "app")
        
      
  .block.dark
    .contain
      h1.title= $$.subs.meta.title
      .content!= $$.subs.html
      
  .block
    .contain
      h1.title= $$.community.meta.title
      .content!= $$.community.html
      
  .block.dark
    .contain
      h1.title= $$.new.meta.title
      .content!= $$.new.html
      
  .block
    .contain
      h1.title= $$.quotes.meta.title
      .content!= $$.quotes.html
