extend layout

block content
  .reddit.jumbo
    .contain
      a.title(href=$$.reddit.meta.url)
        span Music
        |  Player 
        span  for 
        | Reddit
      .github
        +stars(markade.apps.redditmusicplayer)
        +watch(markade.apps.redditmusicplayer)
        +fork(markade.apps.redditmusicplayer)

      .ui.divider
      a.ui.button(href=$$.reddit.meta.url).blue.fluid= $$.reddit.meta.text

  .dark.block
    .contain
      +quote($$.quoteone.meta)
      
  .block
    .contain
      h1 #{$$.subs.meta.title}
      .content !{$$.subs.html}
  
  .block.dark
    .contain
      +quote($$.quotetwo.meta)

  .block
    .contain
      +quote($$.quotethree.meta)
      
  .dark.block
    .contain
      +quote($$.quotefour.meta)
