doctype html
html
  head(lang="en")
    include _includes/_mixins
    title #{$.title} | #{markade.name}
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content=$.description)
    meta(name="keywords", content=$.keywords)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    include _includes/_favicon
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body#body
    .ui.menu.top.fixed.inverted
      .contain
        .left.menu
          a.item(href="/")
            i.icon.music
            | Music Player
        .right.menu
          a.item.pop.icon(href="https://twitter.com/musicplayer_io", target="_blank", title="Follow @musicplayer_io")
            i.icon.twitter
          a.item.pop.icon(href="https://facebook.com/musicplayer.io", target="_blank", title="Follow on Twitter")
            i.icon.facebook
          a.item.pop.icon(href="https://github.com/musicplayer-io/", target="_blank", title="Source Code")
            i.icon.github.alternate
          a.item.pop.icon(href="https://www.reddit.com/r/musicplayer", target="_blank", title="/r/musicplayer on Reddit")
            i.icon.reddit
          a.item.pop.icon(href="/donate.html", title="Donations")
            i.icon.gift
    .wrap
      block content

    script(src="http://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.min.js")
    script.
      $(document).ready(function() {
        $(".pop.item").popup();
      });