doctype html
html
  head(lang="en")
    title #{$.title} • #{markade.name}
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content=$.description)
    meta(name="keywords", content=$.keywords)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    include _includes/_favicon
    link(rel="stylesheet", href="/css/style.css", type="text/css")
  body#body
    block content
    .block.small.dark
      .contain
        .content
          p Listen to amazing music for <strong>free</strong>.
          ul
            li: a(href="/") Home
            li: a(href="/faq.html") FAQ
            li: a(href="/privacy.html") Privacy
            li: a(href="https://github.com/musicplayer-io") Contribute
            li: a(href="https://www.reddit.com/r/musicplayer") Reddit
            li: a(href="https://il.ly") Made by illyism
