& { @import 'src/definitions/globals/site'; }
& { @import 'src/definitions/globals/reset'; }
& { @import 'src/definitions/collections/menu'; }
& { @import 'src/definitions/collections/grid'; }
& { @import 'src/definitions/elements/icon'; }
& { @import 'src/definitions/elements/divider'; }
& { @import 'src/definitions/elements/button'; }
& { @import 'src/definitions/modules/popup'; }
& { @import 'src/definitions/modules/transition'; }

.wrap {
	margin-top: 35px;
}

.contain {
	max-width: 960px;
	margin: auto;
}

.jumbo {
	padding: 100px 0;
	color: white;
	text-align: center;

	p, .donate {
		font-size: 67px;
		text-align: center;
		margin: 0;
		text-transform: uppercase;
		font-weight: 600;

		.a {
			font-style: italic;
			text-transform: lowercase;
		}

		.andopen {
			font-size: 45px;
			font-weight: 300;
			letter-spacing: 0.08em;
		}

		.music {
			font-weight: 600;
			font-size: 108px;
			border-bottom: 4px solid;
			font-size: 72px;
		}

	}

}

.reddit {
	margin-top: 50px;
	text-align: center;
	a {
		color: rgba(0,0,0,.7);
		&:hover {
			color: black;
		}
	}
	.title {
		display: block;
		font-weight: 500;
		padding: 13px;
		font-size: 48px;
		text-transform: uppercase;
		span {
			font-weight: 300;
		}
	}
	.github {
		text-align: center;
	}
}

.block {
	&.dark {
		background: rgba(0,0,0,.9);
		color: rgba(255, 255, 255, .9);
	}
	.contain {
		padding: 100px 0;
	}
	text-align: center;
	h1 {
		font-size: 2em;
		font-weight: 500;
	}
	.content {
		font-size: 16px;
	}
	blockquote {
		a {
			color: inherit;
		}
		p {
			font-size: 2em;
			font-weight: 300;
			&:before {
				content: "“";
			}
			&:after {
				content: "”";
			}
		}
	}
}
